.App {
  text-align: center;
  box-sizing: border-box;
}

.buttons > div {
  border: 1px solid black;
  height: 10%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Quicksand;
  letter-spacing: 6px;
  font-size: 26px;
  background-color: white;
  margin: 10px;
}

.buttons > div:hover {
  background-color: blue;
  color:white;
}

.innerButton {
  padding: 20px;
}
.innerButton ~ div {
  padding: 20px;
}